# -*- conf -*-
# .coveragerc to control coverage.py
[run]
parallel = True
concurrency = multiprocessing
branch = True
source = container

[report]
ignore_errors = True
sort=cover

[html]
directory = htmlcov
