# -*- conf -*-
# .coveragerc to control coverage.py
[run]
parallel = True
concurrency = multiprocessing
branch = True
source = container
omit =
     lib/spack/spack/test/*
     lib/spack/docs/*
     lib/spack/external/*

[report]
ignore_errors = True
sort=cover

[html]
directory = htmlcov
